.bookshelf {
  padding: 0 10px 20px;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
}

.bookshelf-title {
  border-bottom: 1px solid #dedede;
}

.bookshelf-books {
  text-align: center;
}

span { 
  color: #2e7c31;
}

.books-grid li {
  padding: 10px 15px;
  text-align: left;
  display: flex;
}